@import "./rest.css";
@import "./fonts.css";
@import "./variables.css";

body {
  font-family: var(--font-family);
}

#root {
  height: 100vh;
  padding: 69px;

  background-color: #010c15;
}

@media (max-width: 1024px) {
  #root {
    padding: 30px;
  }
}

@media (max-width: 768px) {
  #root {
    padding: 15px;
  }
}
