* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

button,
input {
  background: none;
  border: none;
  outline: none;
}

button,
a {
  font-family: inherit;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
