:root {
  /* Fonts */
  --font-family: "FireCode", sans-serif;

  /* Colors */
  --color-almost-black: #01080e;
  --color-black-pearl: #011221;
  --color-midnight: #011627;
  --color-warm-blue: #4d5bce;
  --color-slate-blue: #607b96;
  --color-sea: #3c9d93;
  --color-white: #ffffff;
  --color-pale-orange: #fea55f;
  --color-apricot: #ffac6b;
  --color-aquamarine: #43d9ad;
  --color-dark-salmon: #e99287;
  --color-bright-lavender: #c98bdf;
  --color-ebony-clay-line: #1e2d3d;
  --color-ebony-clay: #1c2b3a;
  --color-dark-blue-grey: #263b50;

  /* transition duration */
  --hover-duration: 0.3s;

  /* sizes */
  --aside-width: 311px;

  /* border */
  --line: 1px solid var(--color-ebony-clay-line);
}
