.layout {
  height: 100%;
  border-radius: 8px;
  border: var(--line);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  background-color: var(--color-midnight);
}

main {
  flex: 1 0 0;
}
