.header {
  max-height: 56px;
  border-bottom: var(--line);
  display: flex;
  align-items: center;

  font-weight: 450;
  font-size: 16px;

  color: var(--color-slate-blue);

  .title {
    min-width: var(--aside-width);
    padding: 17px 0 17px 22px;
  }

  .navList {
    width: 100%;
    display: flex;

    .navListItem {
      position: relative;
      min-width: max-content;
      border-left: var(--line);

      transition: var(--hover-duration);

      a {
        display: block;
        padding: 17px 32px;

        &::after {
          content: "";
          height: 0;
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          background: var(--color-pale-orange);
          transition: 0.15s;
        }

        &.active {
          &::after {
            height: 3px;
          }
        }
      }

      &:nth-last-child(2) {
        border-right: var(--line);
      }

      &:last-child {
        margin-left: auto;
      }

      @media (hover: hover) {
        &:hover {
          color: var(--color-white);
        }
      }

      @media (hover: none) {
        &:active {
          color: var(--color-white);
        }
      }
    }
  }

  .hamburger {
    display: none;
    position: relative;
    min-width: 18px;
    height: 16px;
    margin-right: 18px;

    span {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;

      background-color: var(--color-slate-blue);

      transition: 0.5s;
    }

    span:nth-child(1) {
      top: 0px;
    }

    span:nth-child(2),
    span:nth-child(3) {
      top: 7px;
    }

    span:nth-child(4) {
      bottom: 0px;
    }

    &.open {
      span:nth-child(1) {
        width: 0;
        left: 50%;
        top: 50%;
      }

      span:nth-child(2) {
        left: -1px;
        min-width: 20px;
        transform: rotate(45deg);
      }

      span:nth-child(3) {
        left: -1px;
        min-width: 20px;
        transform: rotate(-45deg);
      }

      span:nth-child(4) {
        width: 0;
        left: 50%;
        bottom: 50%;
      }
    }
  }
}

@media (max-width: 1024px) {
  .header {
    justify-content: space-between;

    .navList {
      position: relative;
      width: max-content;
      .navListItem {
        &:last-child {
          position: absolute;
          bottom: -100%;
          right: 0;
          margin-left: 0;
          border-bottom: var(--line);
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .header {
    .title {
      min-width: max-content;
      padding-left: 18px;
    }
    .navList {
      width: 100%;
      position: absolute;
      top: 56px;
      bottom: 49px;
      flex-direction: column;
      transform: translateX(100%);

      background-color: var(--color-midnight);

      transition: 1s ease-in-out;

      &.openMenu {
        transform: translateX(0);
      }

      .navListItem {
        min-width: 100%;
        border: none;
        border-bottom: var(--line);

        a {
          display: block;
          padding: 17px 18px;
        }

        &:nth-last-child(2) {
          border-right: 0;
        }

        &:last-child {
          position: relative;
          top: 0;
          right: 0;
        }
      }
    }

    .hamburger {
      display: block;
    }
  }
}
